/* 공통 스타일 */
* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #F5F7FB;
}

body:not(h1, h2, h3) {
  font-size: 0.875rem;
}

section {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #FFFFFF;
}

button {
  padding: 5px;
  border-width: 0px;
  border-radius: 8px;
  background-color: #8EE5D6;
}

button:hover {
  background-color: #60CFBA;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.button--short {
  padding-left: 20px;
  padding-right: 20px;
}

label {
  min-width: 70px;
  font-weight: 500;
}

input,
select {
  width: 100%;
  padding: 8px;
  border-width: 1px;
  border-radius: 6px;
  border-color: #E3E3E3;
  border-style: solid;
}

input:focus,
select:focus {
  outline: none;
}

table {
  border-spacing: 0;
}

span {
  color: #60CFBA;
}

/* 헤더 */

header {
  display: flex;
  padding: 30px;
  background-color: #8EE5D6;
}

header p,
header h2 {
  flex: 1;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

/* 검색 필터 */

.search-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-section__form {
  display: grid;
  grid-template-areas:
    "name name name name name name"
    "english_name english_name english_name english_name english_name english_name"
    "github github gender gender role role"
    "code_review_group code_review_group code_review_group age age age"
    "apply-button apply-button apply-button reset-button reset-button reset-button";
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

@media (max-width: 700px) {
  .search-section__form {
    display: grid;
    grid-template-areas:
      "name name"
      "english_name english_name"
      "github github"
      "gender gender"
      "role role"
      "code_review_group code_review_group"
      "age age"
      "apply-button reset-button";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

.search-section__form .row {
  display: flex;
  align-items: center;  
}

.row:nth-child(1) {
  grid-area: name;
}

.row:nth-child(2) {
  grid-area: english_name;
}

.row:nth-child(3) {
  grid-area: github;
}

.row:nth-child(4) {
  grid-area: gender;
}

.row:nth-child(5) {
  grid-area: role;
}

.row:nth-child(6) {
  grid-area: code_review_group;
}

.row:nth-child(7) {
  grid-area: age;
}

.apply-button {
  grid-area: apply-button;
}

.reset-button {
  grid-area: reset-button;
}

/* 37기 웹 파트 목록 */

.result-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-section__header .button-wrapper {
  display: flex;
  gap: 10px;
}

.result-section__div {
  overflow-x: auto;
}

.result-section__table {
  width: 100%;
  min-width: 600px;
}

.result-section__table col.checkbox {
  width: 6%;
}

.result-section__table col.name,
.result-section__table col.code_review_group {
  width: 10%;
}

.result-section__table col.github,
.result-section__table col.english_name {
  width: 20%;
}

.result-section__table col.gender,
.result-section__table col.role,
.result-section__table col.age {
  width: 8%;
}

.result-section__table thead {
  background-color: #E0FAF3;
}

.row--selected {
  background-color: #F1FDFA;
}

.result-section__table tbody .row:hover {
  background-color: #F1FDFA;
}

.result-section__table tr {
  text-align: center;
  height: 50px;
}

.result-section__table th,
.result-section__table td {
  border-bottom-width: 2px;
  border-bottom-color: #E3E3E3;
  border-bottom-style: solid;
}

/* 모달 */

.modal-section--overlay {
  display: none;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(87, 87, 87, 0.4);
}

.modal-section {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 400px;
  width: 30%;
  transform: translateX(-50%) translateY(-50%);
}

.modal-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-section__header .close-button,
.modal-section__header .close-button:hover {
  background-color: transparent;
}

.modal-section__header .close-button img {
  width: 20px;
}

.modal-section__form {
  display: grid;
  grid-template-areas: 
    "name name name name"
    "english_name english_name english_name english_name"
    "github github github github"
    "gender gender role role"
    "code_review_group code_review_group age age"
    ". . . add-button";
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media (max-width: 600px) {
  .modal-section__form {
    display: grid;
    grid-template-areas: 
      "name"
      "english_name"
      "github"
      "gender"
      "role"
      "code_review_group"
      "age"
      "add-button";
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

.modal-section__form .row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-section__form .add-button {
  grid-area: add-button;
}